<!doctype html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <title>Profile Page</title>
        <meta name="description" content="Profile page.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#2A9D8F"/>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/medium.css">
        <link rel="stylesheet" href="../css/large.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;700&family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h3>Habit Tracker</h3>
            <div>
                <a href="../index.html"><img src="../images/list.svg" alt="list icon"></a>
                <a href="../views/calendar.html"><img src="../images/calendar.svg" alt="calender icon"></a>
                <a href="../views/profile.html"><img class="active" src="../images/user.svg" alt="profile icon"></a>
            </div>
        </header>
        
        <main>

            <div id="logout-button-div">
                <button id="logout-button">Log out</button>
            </div>

        </main>

        <script src="../js/protect.js"></script>
        <script src="../js/profile.js"></script>

    </body>

</html>